* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans";
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
  background: lightgray;
}

ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

main,
footer {
  width: 1200px;
  margin: auto;
  text-align: center;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

#gallery {
  width: 250px;
  height: 250px;
  margin: auto;

  display: flex;
  align-items: center;
}

#prev,
#next {
  height: 15px;
  width: 15px;
  background: none;
  border: none;
}

#gallery-img {
  width: 100%;
}

#prev:hover,
#next:hover {
  cursor: pointer;
}
